snippet #t "#[test]"
#[test]${0}
endsnippet

snippet a "assert!"
assert!(${1:${VISUAL}})${0}
endsnippet

snippet ae "assert_eq!"
assert_eq!(${1:${VISUAL}}, ${2})${0}
endsnippet

snippet an "assert_ne!"
assert_ne!(${1:${VISUAL}}, ${2})${0}
endsnippet

snippet #p "#[should_panic]"
#[should_panic]${0}
endsnippet

snippet #pe "#[should_panic(expected)]"
#[should_panic(expected = "${1:${VISUAL}}")]${0}
endsnippet
